{% extends "ProBook/Base/base.html" %}
{% block title %}Sales Invoice{% endblock %}

{% block content %}

<div class="content">

<div class="d-flex justify-content-between mb-4">

<h3>Sales Invoice</h3>

<button class="btn btn-success" onclick="saveSale()">
Save Invoice
</button>

</div>

<div class="card">
<div class="card-body">

<div class="row mb-4">

<div class="col-md-4">
<label>Customer</label>
<select class="form-select" id="customerSelect"></select>
</div>

<div class="col-md-3">
<label>Date</label>
<input type="date" id="invoiceDate" class="form-control">
</div>

</div>

<table class="table table-bordered" id="salesTable">

<thead>
<tr>
<th>Item</th>
<th>Qty</th>
<th>Price</th>
<th>GST%</th>
<th>Total</th>
<th></th>
</tr>
</thead>

<tbody></tbody>

</table>

<button class="btn btn-sm btn-primary" onclick="addRow()">
Add Item
</button>

</div>
</div>

</div>

<script>

let items=[]
let customers=[]

async function loadCustomers(){

const res=await fetch("/customers/")
customers=await res.json()

const select=document.getElementById("customerSelect")

customers.forEach(c=>{

select.innerHTML+=`
<option value="${c.id}">
${c.name}
</option>
`

})

}

async function loadItems(){

const res=await fetch("/api/items")
items=await res.json()

}

document.addEventListener("DOMContentLoaded",async function(){

await loadCustomers()
await loadItems()

})

</script>

{% endblock %}